:root {
    --diceBR: 5vw;
    --diceW_H: 25vw;
    --trans: 12.5vw; /* half of diceW_H */
    --lilacGray: #495494;
    --transDark: #4953684d;
    --transLight: #606277b9;
    --darkRed: rgb(43, 18, 22);
    }
body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}
.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(145deg, #16133a, #03172e);
    display: grid;
    grid-template-rows: 30vw auto 67vw;
    grid-template-areas: 
    "."
    "."
    "DiceBox";
}
#container {
    grid-area: DiceBox;
    display: grid;
    position: absolute;
    width: 93vw;
    height: 60vw;
    margin: 2vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "DiceBox1 DiceBox2 DiceBox3"
    "DiceBox4 DiceBox5 DiceBox6";
    gap: 3vw;
    place-items: center;
    padding: 1.5vw;
    border-radius: var(--diceBR);
    background: var(--transDark);
    box-shadow:inset 0 0 30px var(--transLight);
}

/* Dice Styles */
#diceBox1, #diceBox2, #diceBox3, #diceBox4, #diceBox5, #diceBox6 {
    display: inline-grid;
    position: relative;
    width: var(--diceW_H);
    height: var(--diceW_H);
    transform-style: preserve-3d;
    transition: 1s ease;
}
#diceBox1 {
    grid-area: DiceBox1;
}
#diceBox2 {
    grid-area: DiceBox2;
}
#diceBox3 {
    grid-area: DiceBox3;
}
#diceBox4 {
    grid-area: DiceBox4;
}
#diceBox5 {
    grid-area: DiceBox5;
}
#diceBox6 {
    grid-area: DiceBox6;
}

/* solid coloured background on each face */
.face, .face::before {
    position: absolute;
    width: var(--diceW_H);
    height: var(--diceW_H);
    border-radius: var(--diceBR);
    background: var(--lilacGray);
    transform-style: preserve-3d;
}
.face::before {
    transform: translateZ(-1px);
}
/* gradient border */
.border {
    content: '';
    width: 24vw;
    height: 24vw;
    margin-top: 2px;
    margin-left: 2px;
    border-radius: var(--diceBR);
    backface-visibility: hidden;
    position: absolute;
    animation: gradientBorderRotate 2.5s linear infinite; 
}
 /* images on dice */
 .icon {
    position: absolute;
    display: block;
    margin-top: 4vw;
    margin-left: 4vw;
    width: 18vw;
    height: 18vw;
    filter: drop-shadow(0 0 0.75rem var(--darkRed));
    pointer-events: none; 
}
.skillImg {
    position: absolute;
    display: block;
    margin-top: 1vw;
    margin-left: 1vw;
    width: 22.5vw;
    height: 22.5vw;
    border-radius: var(--diceBR);
    border: 1px solid var(--lilacGray);
    box-shadow:inset 0 0 30px var(--lilacGray);
}
.shield {
    background-image: url("./images/shield.svg");
}
.sword {
    background-image: url("./images/sword.svg");
}
.cross {
    background-image: url("./images/cross.svg");
}
.ice {
    background-image: url("./images/mageFrsk8.png");
}
.fire {
    background-image: url("./images/mageFlsk10.png");
}
.thunder {
    background-image: url("./images/S1sk4.png");
}
.poison {
    background-image: url("./images/bardH9.jpg");
}
.swirl {
    background-image: url("./images/ult4.jpg");
}
.priest {
    background-image: url("./images/priestG5.jpg");
}
.rainbow {
    background: linear-gradient(var(--Gr), red, orange, yellow, green, indigo, blue);
}
.skyBluePink {
    background: linear-gradient(var(--Gr), hsla(339, 100%, 55%, 1), hsla(197, 100%, 64%, 1), hsla(339, 100%, 55%, 1));
}
.purpleGreen {
    background: linear-gradient(var(--Gr), hsla(270, 94%, 25%, 1), hsla(158, 94%, 49%, 1), hsla(270, 94%, 25%, 1));
}
.sunset {
    background: linear-gradient(var(--Gr), hsla(358, 82%, 71%, 1), hsla(141, 81%, 87%, 1), hsla(41, 88%, 75%, 1), hsla(358, 82%, 71%, 1));
}
.greenBlue{
    background: linear-gradient(var(--Gr), hsla(205, 84%, 36%, 1), hsla(136, 82%, 72%, 1), hsla(205, 84%, 36%, 1));
}
.yellowPink {
    background: linear-gradient(var(--Gr), hsla(281, 95%, 52%, 1), hsla(58, 77%, 50%, 1), hsla(281, 95%, 52%, 1));
}
/* constructing 3d dice from 2d flat planes */
.inner.x {
    transform: rotateY(90deg);
}
.inner.z {
    transform: rotateX(90deg);
}
.front  {
    transform: translateZ(var(--trans));
}
.back {
    transform: rotateX(-180deg) translateZ(var(--trans));
}
.right {
    transform: rotateY(90deg) translateZ(var(--trans));
}
.left {
    transform: rotateY(-90deg) translateZ(var(--trans));
}
.top {
    transform: rotateX(90deg) translateZ(var(--trans));
}
.bottom {
    transform: rotateX(-90deg) translateZ(var(--trans));
}

/* gradiant animations */
@property --Gr {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes gradientBorderRotate {
    0% {
      --Gr: 0deg;
    }
    50% {
      --Gr: 180deg;
    }
    100% {
      --Gr: 360deg;
    }
}